/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* COLORS */
/* 
Background: #1A120B
Dark Accent: #3C2A21
Light Accent: #D5CEA3
Text: #E5E5CB



*/

/* Typography
--------------------------------------------- */
body {
	font-family: 'Nunito', "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #E5E5CB;
	background-color: #1A120B;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cinzel', Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

p {
	margin: 0 0 1.5em;
}


/* Elements
--------------------------------------------- */



/* Links
--------------------------------------------- */
a,
a:visited { 
	color: #EF4040;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

/* Header
--------------------------------------------- */
.site-header {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 4.5rem;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #1A120B;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-family: "Outfit", Times, "Times New Roman", serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E5E5CB;
	background-color: #1A120B;
	transition: 0.3s;
}

.site-navigation a:hover {
	background-color: #3C2A21;
	color:#ddd;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: center;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		background-color: #1A120B;
		line-height: 4.5rem;
		padding: 0 1rem;
		transition: 0.3s;
	}

	.site-navigation a:hover {
		background-color: #3C2A21;
		color: #ffffff;
	}

}


/* Main
--------------------------------------------- */
/* Page Header */
.page-header {
	position: relative;
}

.page-header h1 {
	font-family: 'Cinzel', Times, "Times New Roman", sans-serif;
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	z-index: 1;
	width: fit-content;
	padding: 0 4rem;
	margin: 0 auto;
	color: #ffffff;
	backdrop-filter: blur(5px);
}

video {
	display: block;
	object-fit: cover;
	object-position: center bottom;
	width: 100%;
	max-height: 37.5rem;
	min-height: 25rem;
	transition: 0.3s;
}

@media (min-width: 50em) {

	.page-header h1 {
		font-size: 5rem;
	}
	
}

/* Section: About */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 60rem;
	padding: 1rem;
	margin: 0 auto;
}

.about h2 {
	text-align: center;
}

.about img {
    border: solid 3px #3C2A21;
    padding: 1rem;
}

@media (min-width: 50em) {
    .about {
        display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
        row-gap: 2rem;
		padding: 1rem;
        position: relative;
    }

    .about h2 {
        text-align: left;
    }
    

}



/* Footer
--------------------------------------------- */
.site-footer {
	background-color: #3C2A21;
	padding: 1rem;
}

@media (min-width: 50em) {

	.site-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.site-footer p {
		margin: 0;
	}

}